@charset "UTF-8";

/* CSS 초기화 */
* {margin: 0 auto; padding: 0; box-sizing: border-box;}
html {overflow-y: scroll;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; color: inherit;}
img {max-width: 100%; border: none; vertical-align: middle;}
nav ul, li {list-style: none;}
address {font-style: normal;}
table {border-collapse: collapse; width: 100%;}
th {font-weight: normal; text-align: left;}
caption {text-indent: -9999px; height: 0; overflow: hidden; line-height: 0;}
body, input, select, textarea, button {font: 14px/1.3 'NanumBarunGothic', 'Noto Sans CJK KR', 'Noto Sans KR', Arial, "Helvetica Neue", Helvetica, sans-serif;}
input, select, textarea {border: 1px solid #bbb;}
*:after, *:before {box-sizing: border-box;}
.cf:after, .cf:before {content: ''; clear: both; display: block;}
.blind {position: absolute; left: -9999px;}
#container {width: 100%;}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
#container > div {width: 100%; margin: 0 auto;}
#container .main_top, #container .guide_map {max-width: 1900px; overflow: hidden;}

/*-- guide_map --*/
#container .guide_map {height: 750px; background: #759fd0; background-position: center; background-size: cover; margin-top: 85px; margin-top: 90px;}
.guide_map .gm_wrap {width: 1320px; padding: 105px 20px 88px 20px; margin: 0 auto; position: relative;}
.guide_map .gm_wrap h4 {font-size: 40px; color: #FFF; margin-bottom: 55px; font-weight: 900;}
.guide_map .gm_wrap .gm_btn_bx {position: absolute; top: 120px; right: 50%; margin-right: -640px;}
.guide_map .gm_wrap .gm_btn_bx ul {overflow: hidden;}
.guide_map .gm_wrap .gm_btn_bx ul .gm_btn {float: left; width: 90px; height: 30px; background-size: cover; background-position: bottom; margin-left: 30px; cursor: pointer;}
.guide_map .gm_wrap .gm_btn_bx ul .gbt-01 {background: url('../images/nvz_on-001.png') 0 0 no-repeat;}
.guide_map .gm_wrap .gm_btn_bx ul .gbt-02 {background: url('../images/nvz_off-002.png') 0 0 no-repeat;}
.guide_map .gm_wrap .gm_btn_bx ul .gbt-03 {background: url('../images/nvz_off-003.png') 0 0 no-repeat;}
.guide_map .gm_wrap .gm_obx {width: 620px; height: 450px; position: absolute; top: 212px; right: 50%; border-radius: 20px; margin-right: -1100px; z-index: 1; background: #000; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; -webkit-opacity: 0.5; opacity: 0.5;}
.guide_map .gm_wrap .gm_bx {width: 100%; height: 450px; overflow: hidden;}
.guide_map .gm_wrap .gm_bx {display: none;}
.guide_map .gm_wrap .gm_bx.current {display: inherit;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx, .guide_map .gm_wrap .gm_img_bx {float: left;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx {width: 450px; float: left; color: #FFF; position: relative; height: 100%;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_ttl {margin-top: 43px; width: 295px; height: 115px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_ttl img {display: block; width: 100%;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_int {font-size: 18px; line-height: 30px; margin-top: 40px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_slt {margin-top: 20px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_slt a {font-size: 15px; line-height: 32px; margin-right: 15px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_sh {display: inline-block; width: 181px; height: 48px; background: url('../images/gm_btn.png') 0 0 no-repeat; background-size: cover; background-position: center; position: absolute; left: 0; bottom: 10px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_sh a {display: block; width: 100%; height: 100%; font-size: 0;}
.guide_map .gm_wrap .gm_bx .gm_img_bx {width: 1160px; position: absolute; right: 50%; margin-right: -950px; overflow: hidden; padding-left: 30px; height: 470px;}
.guide_map .gm_wrap .gm_bx .gm_img_bx .gm_slider li {width: 620px !important; margin-right: 40px !important; border-radius: 20px; overflow: hidden;}
.guide_map .gm_wrap .gm_bx .gm_img_bx .gm_slider li {-moz-box-shadow: -1px 10px 12px -5px rgba(0,0,0,0.5); -webkit-box-shadow: -1px 10px 12px -5px rgba(0,0,0,0.5); box-shadow: -1px 10px 12px -5px rgba(0,0,0,0.5);}
.guide_map .gm_wrap .gm_bx .gm_img_bx .bx-wrapper {width: 1280px !important; max-width: 1280px !important; margin: 0 auto !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; border: none !important; background: none !important;}
.guide_map .bx-wrapper .bx-viewport {height: 450px !important;}
.guide_map .bx-wrapper .bx-controls-direction a {width: 60px; height: 60px;}
.guide_map .bx-wrapper .bx-prev {left: -30px; background: url('../images/gm_arrow.png') no-repeat 0px 0px;}
.guide_map .bx-wrapper .bx-next {right: -30px; background: url('../images/gm_arrow.png') no-repeat -65px 0px;}
.guide_map .bx-wrapper .bx-prev:hover, .guide_map .bx-wrapper .bx-prev:focus {background-position: 0px -62px;}
.guide_map .bx-wrapper .bx-next:hover, .guide_map .bx-wrapper .bx-next:focus {background-position: -65px -62px;}
.guide_map .gm_wrap .gm_bx .gm_img_bx .bx-controls-direction a.bx-prev {left: 50%; margin-left: -670px;}
.guide_map .gm_wrap .gm_bx .gm_img_bx .bx-controls-direction a.bx-next {right: 50%; margin-right: -150px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_01 a:hover, .guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_01 a.active {color: #ffd820; border-bottom: 1px solid #ffd820; font-weight: bold;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_02 a:hover, .guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_02 a.active {color: #ffd820; border-bottom: 1px solid #ffd820; font-weight: bold;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_03 a:hover, .guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_03 a.active {color: #ffd820; border-bottom: 1px solid #ffd820; font-weight: bold;}
/*-- //guide_map --*/
=======
#container>div {width: 100%; margin: 0 auto;}
#container .main_top, #container .guide_map {max-width: 1900px; overflow: hidden;}
#container .information {width: 1280px; padding-top: 96px; margin-bottom: 96px;}
>>>>>>> ecb1f87 (upload files)
=======
#container > div {width: 100%; margin: 0 auto;}
#container .main_top, #container .guide_map {max-width: 1900px; overflow: hidden;}

/*-- guide_map --*/
#container .guide_map {height: 750px; background: #759fd0; background-position: center; background-size: cover; margin-top: 85px; margin-top: 90px;}
=======
#container > div {width: 100%; margin: 0 auto;}
#container .main_top, #container .guide_map {max-width: 1900px; overflow: hidden;}

/*-- guide_map --*/
#container .guide_map {height: 750px; background: #759fd0 url('../images/gdm_bg-001.jpg') 0 0 no-repeat; background-position: center; background-size: cover; margin-top: 85px; margin-top: 90px;}
>>>>>>> c3b7377 (update html css)
.guide_map .gm_wrap {width: 1320px; padding: 105px 20px 88px 20px; margin: 0 auto; position: relative;}
.guide_map .gm_wrap h4 {font-size: 40px; color: #FFF; margin-bottom: 55px; font-weight: 900;}
.guide_map .gm_wrap .gm_btn_bx {position: absolute; top: 120px; right: 50%; margin-right: -640px;}
.guide_map .gm_wrap .gm_btn_bx ul {overflow: hidden;}
.guide_map .gm_wrap .gm_btn_bx ul .gm_btn {float: left; width: 90px; height: 30px; background-size: cover; background-position: bottom; margin-left: 30px; cursor: pointer;}
.guide_map .gm_wrap .gm_btn_bx ul .gbt-01 {background: url('../images/nvz_on-001.png') 0 0 no-repeat;}
.guide_map .gm_wrap .gm_btn_bx ul .gbt-02 {background: url('../images/nvz_off-002.png') 0 0 no-repeat;}
.guide_map .gm_wrap .gm_btn_bx ul .gbt-03 {background: url('../images/nvz_off-003.png') 0 0 no-repeat;}
.guide_map .gm_wrap .gm_obx {width: 620px; height: 450px; position: absolute; top: 212px; right: 50%; border-radius: 20px; margin-right: -1100px; z-index: 1; background: #000; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; -webkit-opacity: 0.5; opacity: 0.5;}
.guide_map .gm_wrap .gm_bx {width: 100%; height: 450px; overflow: hidden;}
.guide_map .gm_wrap .gm_bx {display: none;}
.guide_map .gm_wrap .gm_bx.current {display: inherit;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx, .guide_map .gm_wrap .gm_img_bx {float: left;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx {width: 450px; float: left; color: #FFF; position: relative; height: 100%;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_ttl {margin-top: 43px; width: 295px; height: 115px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_ttl img {display: block; width: 100%;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_int {font-size: 18px; line-height: 30px; margin-top: 40px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_slt {margin-top: 20px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_slt a {font-size: 15px; line-height: 32px; margin-right: 15px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_sh {display: inline-block; width: 181px; height: 48px; background: url('../images/gm_btn.png') 0 0 no-repeat; background-size: cover; background-position: center; position: absolute; left: 0; bottom: 10px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx .gm_sh a {display: block; width: 100%; height: 100%; font-size: 0;}
.guide_map .gm_wrap .gm_bx .gm_img_bx {width: 1160px; position: absolute; right: 50%; margin-right: -950px; overflow: hidden; padding-left: 30px; height: 470px;}
.guide_map .gm_wrap .gm_bx .gm_img_bx .gm_slider li {width: 620px !important; margin-right: 40px !important; border-radius: 20px; overflow: hidden;}
.guide_map .gm_wrap .gm_bx .gm_img_bx .gm_slider li {-moz-box-shadow: -1px 10px 12px -5px rgba(0,0,0,0.5); -webkit-box-shadow: -1px 10px 12px -5px rgba(0,0,0,0.5); box-shadow: -1px 10px 12px -5px rgba(0,0,0,0.5);}
.guide_map .gm_wrap .gm_bx .gm_img_bx .bx-wrapper {width: 1280px !important; max-width: 1280px !important; margin: 0 auto !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; border: none !important; background: none !important;}
.guide_map .bx-wrapper .bx-viewport {height: 450px !important;}
.guide_map .bx-wrapper .bx-controls-direction a {width: 60px; height: 60px;}
.guide_map .bx-wrapper .bx-prev {left: -30px; background: url('../images/gm_arrow.png') no-repeat 0px 0px;}
.guide_map .bx-wrapper .bx-next {right: -30px; background: url('../images/gm_arrow.png') no-repeat -65px 0px;}
.guide_map .bx-wrapper .bx-prev:hover, .guide_map .bx-wrapper .bx-prev:focus {background-position: 0px -62px;}
.guide_map .bx-wrapper .bx-next:hover, .guide_map .bx-wrapper .bx-next:focus {background-position: -65px -62px;}
.guide_map .gm_wrap .gm_bx .gm_img_bx .bx-controls-direction a.bx-prev {left: 50%; margin-left: -670px;}
.guide_map .gm_wrap .gm_bx .gm_img_bx .bx-controls-direction a.bx-next {right: 50%; margin-right: -150px;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_01 a:hover, .guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_01 a.active {color: #ffd820; border-bottom: 1px solid #ffd820; font-weight: bold;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_02 a:hover, .guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_02 a.active {color: #ffd820; border-bottom: 1px solid #ffd820; font-weight: bold;}
.guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_03 a:hover, .guide_map .gm_wrap .gm_bx .gm_txt_bx #gm_slt_03 a.active {color: #ffd820; border-bottom: 1px solid #ffd820; font-weight: bold;}
/*-- //guide_map --*/
<<<<<<< HEAD
>>>>>>> 430585f (update html css)
=======
#container>div {width: 100%; margin: 0 auto;}
#container .main_top, #container .guide_map {max-width: 1900px; overflow: hidden;}
#container .information {width: 1280px; padding-top: 96px; margin-bottom: 96px;}
>>>>>>> 7353dfa (upload files)
=======
>>>>>>> c3b7377 (update html css)
=======
#container>div {width: 100%; margin: 0 auto;}
#container .main_top, #container .guide_map {max-width: 1900px; overflow: hidden;}
#container .information {width: 1280px; padding-top: 96px; margin-bottom: 96px;}
>>>>>>> ecb1f87 (upload files)
